{:paths ["src" "resources" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        ch.qos.logback/logback-classic {:mvn/version "1.5.12"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        aero/aero {:mvn/version "1.1.6"}
        clj-http/clj-http {:mvn/version "3.13.0"}
        clj-harness/clj-harness {:git/url "https://github.com/snqb/clj-harness.git"
                                 :git/sha "fb1a38830a4aad2ff8640bb45d8d0870e91f1b73"}
        ring/ring-core {:mvn/version "1.13.0"}
        ring/ring-jetty-adapter {:mvn/version "1.13.0"}
        ring/ring-json {:mvn/version "0.5.1"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.1093"}
        org.xerial/sqlite-jdbc {:mvn/version "3.48.0.0"}
        io.github.nextjournal/clerk {:mvn/version "0.18.1158"}
        com.brunobonacci/mulog {:mvn/version "0.9.0"}}
 :mvn/repos {"clojars" {:url "https://repo.clojars.org"}}
 :aliases
 {:run     {:main-opts ["-m" "tapalakbot.core"]}
  :bot     {:main-opts ["-m" "tapalakbot.server"]}
  :build   {:deps {org.clojure/tools.build {:mvn/version "0.10.7"}}
            :ns-default build}
  :monitor {:main-opts ["-m" "tapalakbot.monitor.main"]}
  :simulation {:main-opts ["-m" "tapalakbot.simulation"]}
  :notebook {:main-opts ["-m" "nextjournal.clerk"]
             :exec-args {:browse true
                         :watch-paths ["notebooks" "src"]}}
  :repl    {:main-opts ["-r"]}
  :test    {:extra-paths ["test"]
            :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                    :git/sha "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}}
            :main-opts ["-m" "cognitect.test-runner"]
            :exec-fn cognitect.test-runner.api/test}}}
